*.DS_Store
.zsh/.zsh_history
.zsh/.zcompdump
.zsh/HOMEBREW_GITHUB_API_TOKEN.zsh
.zsh/opam.zsh
.zsh/conda.zsh
.sheldon/repos
.sheldon/plugins.lock
Brewfile.lock.json
.config/nvim/plugin
.zsh/01for_wsl.zsh
.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/transient
.zsh/mamba.zsh
